* {
    max-width: 600px;
    margin: auto;
    font-family: 'Lato';
}

.head {
    font-size: 20px;
    color: #4F81BD;
    font-weight: 500;
}

.link {
    color: #4F81BD;
    text-decoration: underline;
}

.body {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
}

.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4F81BD;
  height: 50px;
  color: white;
  border-radius: 15px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}

.subheading {
    font-size: 14px;
    color: #7F7F7F;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #4F81BD;
}

h4 {
    text-align: center;
    font-weight: 400;
    font-size: 15;
}

ul {
    padding-left: 20;
}

@media only screen and (max-width: 430px) {
    .left,
    .right {
        display: none;
    }
    .contents {
        width: 100%;
        margin-left: 10px;
    }
}