name: Upload to S3 and Invalidate CloudFront Distribution
on:
  push:
    branches: [ main ]

jobs:
  upload-website-to-s3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: aws s3 sync ./website s3://profile.cloudofthings.net
